.header {
  border-bottom: 1px solid lightgray;

  position: relative;
  z-index: 100;
}

.header > div {
  padding: 0rem 2rem;

  position: relative;
  z-index: 100;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background-color: white;
}

.dropdownNav {
  width: 100%;
  padding: 1rem 0 2rem 0;
  border-bottom: 1px solid lightgray;

  position: absolute;
  z-index: 1;

  font-family: Lato, sans-serif;

  background-color: white;
}

.navMenu {
  padding: 0 2rem;

  display: -ms-grid;
  display: grid;
  gap: 1.5rem;

  font-size: 0.85rem;
  font-weight: 400;
  text-transform: uppercase;
}

.menuLink {
  padding: 0.15rem 0;

  display: inline-block;

  position: relative;

  text-decoration: none;

  color: gray;

  -webkit-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.menuLink::after {
  content: "";

  width: 0;
  border-bottom: 1.5px solid #000;

  position: absolute;
  left: 0;
  bottom: 0;

  -webkit-transition: width 200ms ease-in-out;
  -o-transition: width 200ms ease-in-out;
  transition: width 200ms ease-in-out;
}

.menuLink:hover {
  color: #000;
}

.menuLink:hover::after {
  width: 100%;
}

/* Media queries */
@media (min-width: 1025px) {
  .header {
    display: none;
  }
}
