.productList {
  display: grid;
  gap: 2rem;
}

.productThumbnail,
.productThumbnail > img {
  width: 100%;
  display: block;
}

.productDetails {
  margin: 1.5rem 0;
  text-align: center;
}

.productDetails > h4 {
  font-family: Lato, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
}

.productDetails > p {
  margin: 0.5rem 0;
}

.category {
  color: gray;
}

.price {
  font-size: 1.5rem;
}
